/* My Portal Website's Layout Styles */

/* START GLOBAL RULES */

html {
    background-color:#ccc;
} 

div.wrapper {
    background-color:#fff;
    overflow:auto;
    padding-top:150px;
}

header{
    background-color:dodgerblue;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
p {
    margin-left:1em;
}

h1 {
    margin-left:1em;
    text-align: center;
    
}
title,h2,h3,h4,li {
    margin-left:1em;
    
    
}
h4 {
    margin-bottom: auto;

}

a {
    color:crimson;
    text-decoration: none;
    margin-left: 1em;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

img {
   max-width:100%;
   max-height: 350px;
   margin: 0 auto;
   border: 1px solid black;
   display: flex;
}

.solo {
    max-height: 400px;
    display:block;
}

figcaption {
    text-align: center;
    font-size: .8em;
}

figcaption a {
    margin: 0;
}

.row {
  display: flex;
}

.column3 {
  flex: 33.33%;
  padding: .25em;
}

.column2 {
  flex: 50%;
  padding: .25em;
}


footer {
    clear: both;
    text-align: center;
    padding: .75em;
}

/* END GLOBAL RULES */




/* START DESKTOP - RESPONSIVE RULES */

@media all and (min-width:1400px) {
    
    div.wrapper {
        width: 80%;
        margin: auto;
    }
    
    img.desktop {
        width: 50%;
        float: right;
        margin-left: 1em; 
    }
    
    p {margin:1em;}
    
    img.tablet, img.phone {
        display: none;
    }
    
    
}

/* END DESKTOP - RESPONSIVE RULES */



/* START TABLET - RESPONSIVE RULES */

@media all and (max-width:1024px) {

    div.wrapper {
        width: 90%;
        margin: auto;
    }
    
    img.tablet {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
    img.desktop, img.phone {
        display: none;
    }
    .row{
        flex-wrap: wrap;
    }
    .column2, column3{
        flex: 100%;
    }
}

/* END TABLET - RESPONSIVE RULES */



/* START PHONE - RESPONSIVE RULES */

@media all and (max-width:768px) {
    
    div.wrapper {
        width:100%;
        margin:auto;
    }
    
    img.phone {
        width:100%;
    }
    
    img.desktop, img.tablet {
        display:none;
    }
 
}

/* END PHONE - RESPONSIVE RULES */
